# Gemini API key: https://aistudio.google.com/
GOOGLE_GENERATIVE_AI_API_KEY=

# Supabase project URL: https://supabase.com/
NEXT_PUBLIC_SUPABASE_URL=

# Supabase anon key: https://supabase.com/
NEXT_PUBLIC_SUPABASE_ANON_KEY=